{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<div class="row bg-light p-5 text-center">

    <div class="col-md-12">
        <h2>Project Overview</h2>
        <p>
            This project aims to provide an interactive visualization of tornado data across the United States, allowing the user to explore historical tornado events.
            <br>
            The interactive map was made with Leaflet, and the charts were made with Plotly!
        </p>
     </div>

</div>

<div class="row bg-light p-5 text-center">

    <h2>Meet the Team</h2>
    <p>Here are the people who contributed to this project</p>
    
    <div class="col-md-3">
        <h5>Cassidy Bell</h5>
        <p>GitHub:<br> <a href="https://github.com/cvbell624" target="_blank">https://github.com/cvbell624</a></p>
    </div>

    <div class="col-md-3">
        <h5>Neelam Prasad</h5>
        <p>GitHub:<br> <a href="https://github.com/Neelam057" target="_blank">https://github.com/Neelam057</a></p>
    </div>

    <div class="col-md-3">
        <h5>Aaron Suarez</h5>
        <p>GitHub:<br> <a href="https://github.com/Apeterson07" target="_blank">https://github.com/Apeterson07</a></p>
    </div>

    <div class="col-md-3">
        <h5>Tyler Beringer</h5>
        <p>GitHub:<br> <a href="https://github.com/99btyler" target="_blank">https://github.com/99btyler</a></p>
    </div>

</div>
{% endblock %}