<!DOCTYPE html>
<html lang="en">

    <head>
        
        <!-- boilerplate -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- content -->
        <title>US Tornado Dataset</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">

        <!-- scripts -->
        <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script> <!-- includes Popper.js -->

    </head>

    <body>

        <!-- header section -->
        <div class="container-fluid bg-dark text-white text-center py-4">
            <h1>US Tornado Dataset</h1>
        </div>

        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                    <a href="..." class="nav-link">Map</a>
                </li>
                <li class="nav-item">
                    <a href="dashboard" class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="..." class="nav-link">About Us</a>
                </li>
                <li class="nav-item">
                    <a href="..." class="nav-link">Works Cited</a>
                </li>
                <!-- dropdown -->
                <li class="nav-item dropdown">
                    <a href="" role="button" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Dropdown</a>
                    <ul class="dropdown-menu">
                        <l1><a href="..." class="dropdown-item">Item #1</a></l1>
                        <l1><a href="..." class="dropdown-item">Item #2</a></l1>
                        <l1><a href="..." class="dropdown-item">Item #3</a></l1>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- content section -->
        <div class="container mt-4">

            <h2>What Are Tornadoes?</h2>
            <p>Tornadoes are among one of the most violent weather phenomena. A tornado is a violent, rotating column of air that extends from a thunderstorm to the ground.</p>

            <div class="row">

                <div class="col-md-6">
                    <img src="https://scied.ucar.edu/sites/default/files/styles/extra_large/public/media/images/shutterstock_172831265.jpg.webp" class="img-fluid" alt="How Tornadoes are Formed" />
                </div>

                <div class="col-md-6">
                    <img src="https://media.defense.gov/2009/Feb/10/2000626851/-1/-1/0/090210-F-6936T-001.JPG" class="img-fluid" alt="Enhanced Fujita Scale" />
                </div>

            </div>

            <p>For more information on the history of tornadoes, visit the following reference: <a href="https://journals.ametsoc.org/configurable/content/journals$002fbams$002f105$002f7$002fBAMS-D-23-0031.1.xml" target="_blank">Journals on Tornado Research</a></p>
            <p>Click here for more information on the Enhanced Fujita Scale: <a href="https://www.weather.gov/lsx/enhancedfujitascale" target="_blank">National Weather Service</a></p>

        </div>

    </body>

</html>