{% extends "base.html" %}

{% block title %}
    Dashboard
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
{% endblock %}

{% block scripts %}
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.plot.ly/plotly-2.26.0.min.js"></script>

    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}

{% block content %}
<div class="row bg-light p-5 text-center">

    <div class="col-md-12">
        <table id="tornado-table">
            <thead>
                <tr>
                    <th>Year</th>
                    <th>State</th>
                    <th>Fatalities</th>
                    <th>Injuries</th>
                    <th>Tornado Count</th>
                </tr>
            </thead>
            <tbody>
                <!-- data will be loaded here -->
            </tbody>
        </table>
    </div>

</div>
{% endblock %}