<!DOCTYPE html>
<html lang="en">

    <head>

        <!-- boilerplate -->
         <!-- ... -->

        <!-- content -->
        <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

        <!-- scripts -->
        <script defer src="{{ url_for('static', filename='script.js') }}"></script>

    </head>

    <body>

        <!-- content -->
        <p>this is a test home page</p> <!-- TODO: remove this test content -->

    </body>

</html>